@import "tailwindcss";

@theme {
  /* Branding Colors */
  --color-palm-primary: #065f46; /* Forest Emerald */
  --color-palm-accent: #f59e0b; /* Golden CPO */
  --color-palm-dark: #1e293b; /* Tech Navy */
  --color-palm-bg: #f8fafc; /* Neutral Light */

  /* Semantic Colors */
  --color-yield-high: #10b981;
  --color-yield-low: #fbbf24;
  --color-cost-danger: #ef4444;

  /* Custom Fonts (Jika diperlukan) */
  --font-sans: "Inter", ui-sans-serif, system-ui;
}
